<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Blog</title>
</head>
<body>
    <div>
        <h1><a href="">The Django Blog</a></h1>
    </div>

    <div>
        <p>published: xx-xx-xx</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad consequuntur dolorem ratione nobis ipsa fugiat veritatis saepe quas eveniet quisquam, modi qui fugit! Possimus, adipisci tempora error nihil consequuntur alias!</p>
    </div>

    <div>
        <p>published: yy-yy-yy</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deserunt quasi eveniet atque, voluptatibus non, itaque, magni aliquam mollitia fugit porro facere minus possimus delectus illo! Facere eum corporis adipisci.</p>
    </div>
</body>
</html>